<div class="main">
    <h1>Angular</h1>
    <hr>
    <h1>What is angular</h1>
    <pre>    Angular is a development platform, built on TypeScript.
    
        As a platform, Angular includes:
        
        A component-based framework for building scalable web applications
        A collection of well-integrated libraries that cover a wide variety of features, 
        including routing, forms management, client-server communication, and more
        A suite of developer tools to help you develop, build, test, and update your code
        With Angular, you're taking advantage of a platform that can scale from single-developer 
        projects to enterprise-level applications. Best of all, the Angular ecosystem consists of a diverse group of over 1.7 million developers, library authors, and content creators.</pre>
    <p>#How set up Angular</p>
    <ul>
        <li>Download vscode</li>
        <li>Download node js </li>
        <li>Install ANGULAR Cli</li>
    </ul>
    <h3>#How install node</h3>
    <hr>
    <ul>
        <li>Download Node js</li>
        <li>Install node</li>
        <li>Open command prompt in window</li>
        <ul>
            <h5>How to check node version</h5>
            <li>Open command prompt Enter command as(node -v)</li>
            <li>click enter</li>
        </ul>
    </ul>
    <h4>#How to install ANGULAR CLI</h4>
    <ul>
        <li>After Node is installed</li>
        <li>Open command prompt</li>
        <li>Enter command as <strong>npm install -g &#64;Angular/cli</strong></li>
        <li>ANGULAR is installed.</li>
    </ul>
    <b>#How to create Project in Angular</b>
    <ul>
        <li>Open window command prompt Enter command as <strong>ng new projectname </strong></li>
        <li>Eg: ng new angular (angular is the name of the project)</li>
        <li>Now project from File Manager using command <strong>cmd</strong></li>
    </ul>
    <b>#How to run Project in angular</b>
    <ul>
        <li>
            Open Terminal in VSCODE Enter command as <strong> ng serve</strong>
        </li>
        <li>Click Enter</li>
        <li>Project starts to Build</li>
        <li>Now after building te project copy the <strong>URL</strong> available in terminal</li>
        <li>Enter the url in chrome and press Enter</li>
        <li>The project is displayed in the chrome</li>
    </ul>
    <h4>#How to install boostrap</h4>
    <ul>
        <li>Open terminal in the project</li>
        <li>Enter command <strong>npm install boostrap</strong> to install bootstrap</li>
        <li>Bootstrap is installed</li>
        <li>Add bootstrap links in Angular.json file</li>
        <li> Links <strong>"node_modules/bootstrap/scss/bootstrap.scss",<br>
                "node_modules/bootstrap-icons/font/bootstrap-icons.css",<br>
                "src/styles.scss"</strong></li>
    </ul>
    <h3>How to create component</h3>
    <ul>
        <li>Open terminal in vscode </li>
        <li>Enter the command <strong>ng generate component name</strong></li>
        <li>Eg:ng generate component header(header is the component name)</li>
        <li>Component is Created.</li>
        <li>Now add the TAG with component name in <strong>app.component.html</strong></li>
        <li>Eg:&lt;app-component name&gt; &lt;/app-component name&gt;</li>
        <li>Now add the component in Imports available in <strong>app.component.ts</strong></li>
        <li>Add <strong>router-outlet tag</strong> in app,component.html</li>
    </ul>
    <h3>How add routerLink</h3>
    <ul>
        <li>Open app.component.html add anchor tag using the attribute <strong>routerLink</strong></li>
        <li>Give the path in RouterLink</li>
        <li>Open app.compoment and add routerLink in Imports</li>
        <li>Now Open the app.routes.ts and declare the path in Routes</li>
        <li>Eg:&lt;a routerLink=&#34;pathname&#34;&gt;&lt;/a&gt;</li>
        <li>Path must be in the curlybraces within the index</li>
        <li>Eg:&#123;path:"pathname",component:componentname&#125;</li>
    </ul>

   <h3>DATA BINDINGS</h3> 
</div>